*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: white;
    padding-bottom: 0px;
}
.logo{
    font-size: 30px;
    float: left;
    margin-top:15px;
    border-radius: 100%;
    background-color: grey;
}
ul{
    float: right;
    list-style: none;
}
li{
    float: left;
    padding: 20px;
    font-size: 25px;
    color: beige;
    font-family: Arial;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0,4s ease-in-out;
}
ul li a:hover{
    color: blanchedalmond;
}
nav{
   background-color: rgb(10, 10, 10);
    height: 70px;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
 .Hero{
    height: 500px;
    background-image: url(img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    margin: 0;
    padding: 150px;
 }
 .titre{
    font-size: 50px;
    margin:100px;
    padding-top: 40px;
 }
 .ST{
    color: white;
    font-size: 30px;
    margin: 100px;
    padding-top: -30px;
 }
 .btn1{
    background-color: rgb(154, 159, 159);
    border: 1 solid grey;
    color: white;
    padding: 20px;
    margin-left: 100px;
    font-weight: bold;
    font-family: Arial;
    font-size: 25px;
    float: left; 
    border: 1px solid grey;
    list-style: none;
 }
 .btn2{
    background-color: rgb(5, 6, 6);
    border: 1 solid grey;
    color: white;
    padding: 20px;
    margin-left: 500px;
    font-size: 20px; 
 }
 .btn1:hover{
    color: blanchedalmond;
 }
 .btn2:hover{
    color: blue;
 }